<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-secondary justify-content-between">
    <!--Logo-->
    <a href="" class="navbar-brand logo">Gerenciador de Tarefas</a>
    <!--Navegação-->
    <!-- <ul class="navbar-nav menu" >
      <li class="nav-item">
        <a href="" class="nav-link  ">Home</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Sobre</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link ">Contato</a>
      </li>
  
    </ul> -->
  
  </nav>
  <router-outlet></router-outlet>
</body>