<div class="container">
    <h1>Tarefas</h1>
    
    <table class="table table-sm table-bordered table-hover">
        <tbody>
            <tr>
                <th class="tarefa">Tarefa</th>
                <th class="conclued">Concluída</th>
                <th class="text-end">
                    <a  [routerLink]="['/tarefas/cadastrar']"
                        class="btn btn-sm btn-success new">
                        <span class="" aria-hidden="true">Novo</span>
                    </a>
                </th>
            </tr>
        </tbody>
        <tbody>
            <tr *ngFor="let tarefa of tarefas">
                <td
                [tarefaConcluida]="tarefa.concluida" 
                [class.notC]="!tarefa.concluida">
                {{tarefa.nome}} <!--Exibir o nome da Tarefa (tem id e concluida)-->
                </td>
                <td class="text-center" style="width: 70px;">
                    <input 
                    type="checkbox"
                    [value]="tarefa.id"
                    [checked]='tarefa.concluida'
                    (click)="alterarStatus(tarefa)">
                </td>
                <td class="text-end" style="width: 200px;">
                    <a
                    [routerLink]="['/tarefas/editar', tarefa.id]" 
                    title="Editar" 
                    alt="Editar" 
                    class="btn btn-sm btn-info edit"
                    >
                    <span class=""
                    aria-hidden="true"></span> Editar
                    </a>
                    <a href="#" title="Remover" alt="Remover"
                    class="btn btn-sm btn-danger remove"
                    (click)="remover($event, tarefa)">
                    <span class=""
                    aria-hidden="true"></span> Remover
                    </a>
                </td>
    
            </tr>
        </tbody>
    </table>
    
    <p *ngIf="tarefas.length==0">Nenhuma tarefa cadastrada</p>
</div>
